<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <script type="module" src="./figures.js"></script>
</head>
<body>
    <header>Playmobil</header>
    <table id="tTabFigures">
        <thead>
            <tr>
                <th>Denominación</th>
                <th>Barcode</th>
                <th>Quantity</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>