<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <script type="module" src="series.js"></script>
</head>
<body>
    <header id="tHeadLogin">
        <div>Playmobil</div>
    </header>

    <select name="" id="tSelecSeries">
        <option value="hidden" hidden></option>
    </select>
    <button type="button" id="tButNext">Siguiente</button>
    <!-- <table id="tTabSeries">
        <thead>
            <tr>
                <th>Series</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table> -->

</body>
</html>