<a routerLink="/card-product/1">Producto 1</a><br>
<a routerLink="/card-product/2">Producto 2</a><br>
<a routerLink="/card-product/3">Producto 3</a><br>
<a routerLink="/card-product/4">Producto 4</a><br>
<a routerLink="/card-product/5">Producto 5</a><br>

<select (change)="gotoProduct($event)">
    <option disabled selected></option>
    <option value="">Producto 1</option>
    <option value="">Producto 2</option>
    <option value="">Producto 3</option>
    <option value="">Producto 4</option>
    <option value="">Producto 5</option>
</select>

<card-product [product]="productId" (productLoaded)="hideSpinner($event)"></card-product>

<spinner-waiting *ngIf="showSpinner"></spinner-waiting>