<lista-pokemons></lista-pokemons>

<router-outlet></router-outlet>

<mi-ordenador plataforma="apple" memoria-principal="8" memoria-secundaria="256"
(componentecargado)="mostrarMensajePorConsola($event)"
(memoriaprincipalinformada)="mostrarMemoriaPrincipalPorConsola($event)"
></mi-ordenador>

<mi-ordenador plataforma="Intel" memoria-principal="16" memoria-secundaria="1000" 
(componentecargado)="mostrarMensajePorConsola($event)"
(memoriaprincipalinformada)="mostrarMemoriaPrincipalPorConsola($event)"
></mi-ordenador>