<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    Hola
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hola</td>
                <td>Adios</td>
            </tr>
            <tr>
                <td>Vale</td>
            </tr>
        </tbody>
    </table>
</body>
</html>